name: go-version

on: pull_request_target

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Get build image from Makefile
        id: build_image_step
        run: |
          build_image="grafana/mimir-build-image:felix-update-go-to-1.20.5-31cf42ae2"
          echo "$build_image"
          echo "build_image=$build_image" >> "$GITHUB_OUTPUT"
    outputs:
      build_image: ${{ steps.build_image_step.outputs.build_image }}
  
  goversion:
    runs-on: ubuntu-latest
    needs: prepare
    container: 
      image: ${{ needs.prepare.outputs.build_image }}
    steps:
      - name: Get Go Version
        id: go-version
        run: |
          version=$(/usr/local/go/bin/go version | awk '{print $3}' | sed 's/go//')
          echo "version=$(version)" >> "$GITHUB_OUTPUT"
    outputs:
      version: ${{ steps.go-version.outputs.version }}

  compare-manifests:
    runs-on: ubuntu-latest
    needs: 
      - prepare
      - goversion
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v4
      with:
        go-version: ${{ needs.goversion.outputs.version }}
    - name: Download Dependencies
      run: |
        echo "xxxxxxxxxxxxxxxxxx $version"
        go mod download
        go mod vendor
      env: 
        version: ${{ needs.goversion.outputs.version }}
